/* Style de base */
body {
    font-family: Arial, sans-serif;
    background-color: #FFF;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0a0a0a;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

header img.logo {
    height: 50px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

/* Section Héro avec la bannière et le texte centré */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;  /* Réduit la hauteur de la bannière */
    background-color: #ff7900; /* Orange classique d'Orange */
    color: white;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}


/* Styles pour les sections */
.content {
    padding: 20px;
    margin-top: 40px;
}

.section {
    margin-top: 40px;
}

h2 {
    font-size: 2em;
    color: #070707;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

footer p {
    margin: 0;
}
